<h3> {{theoreticalCourse.course.name}} </h3>
<p>Data rozpoczęcia: {{theoreticalCourse.startDate}}</p>
<p>{{theoreticalCourse.course.theoreticalHours}} godzin zajęć teoretycznych</p>
<p>{{theoreticalCourse.course.practicalHours}} godzin zajęć praktycznych</p>
<a routerLink="{{theoreticalCourse.course.id}}/drivingclasses">
  <button mat-raised-button>Wyświetl wszystkie jazdy</button>
</a>
<a routerLink="/theoreticalclasses/{{theoreticalCourse.id}}">
  <button mat-raised-button>Wyświetl wszystkie terminy zajęć</button>
</a>
<hr>
